#thelist{
	li{
	   h2{
	     width:100%;
	     text-align:center;
	     color:#e55555;
	   }
	   p{
	      line-height:50px;
	      backgroud:#ffeecc;
	      color:#d55555;
	      font-weight:600;
	      font-size:16px;
	   }
	   span{
	         color:#333;
	         font-weight:500;
	         font-size:14px;
	         margin-right:10px;
	     }
	}
}