.slide1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  background: url(../images/bg1.png) no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%; }
  .slide1 .tit {
    width: 100%;
    height: 20%;
    font-size: 30px;
    font-weight: 800;
    color: #d55555; }
    .slide1 .tit span {
      color: #fff; }

.slide2 {
  text-align: center;
  display: flex;
  flex-direction: column; }
  .slide2 .tit {
    width: 100%;
    height: 20%;
    font-size: 30px;
    font-weight: 800;
    color: #d55555; }
    .slide2 .tit span {
      margin-left: 10px;
      margin-right: 10px; }
